<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='debut.css')}}"/>
    <title>index</title>
</head>
<body>
    <div class="grid-container">
		  
        <aside class="sidenav">		
          <div >
              <img id="logo" src="{{url_for('static', filename='img/Health.png')}}" height="150px" width="150px"/>
          </div>			
          
          <div id="menu">
              <a href="/spec">
                  <div >
                      <img class="icon" src="{{url_for('static', filename='img/livres.png')}}" height="20px" width="20px"/>
                      <p>Acceuil</p>
                  </div>
              </a>
              <a href="/etudiant">
                  <div>
                      <img class="icon" src="{{url_for('static', filename='img/ecrire.png')}}" height="20px" width="20px"/>
                      <p>Employés</p>
                  </div>
              </a>
              <a href="/annees">
                  <div>
                      <img class="icon" src="{{url_for('static', filename='img/calendar.png')}}" height="20px" width="20px"/>
                      <p>Ajouter</p>
                  </div>
              </a>
              <a href="/liste">
                  <div>
                      <img class="icon" src="{{url_for('static', filename='img/ecrire.png')}}" height="20px" width="20px"/>
                      <p>Modifier</p>
                  </div>
              </a>
              <a href="/debut">
                  <div id="page-actuelle">
                      <img class="icon" src="{{url_for('static', filename='img/ecrire.png')}}" height="20px" width="20px"/>
                      <p>Supprimer</p>
                  </div>
              </a>
              
              <button id="btn_refresh" onclick="loadData_annee()">
                  <img class="icon" src="{{url_for('static', filename='img/sync.png')}}" height="20px" width="20px"/>
                  Actualiser
              </button>
              <a href="/">
                  <div id="logout">
                      <img class="icon" src="{{url_for('static', filename='img/logout.png')}}" height="20px" width="20px"/>
                      <p>Log out</p>
                  </div>
              </a>
          </div>	
        </aside>
        <main class="main1">
          <div class="card" id="card0">
              <div id="zone-recherche">
                  <div id="text-cont">
                      <p id="title">
                          Dashboard Année : 
                          <span id="text-annee"></span>
                      </p> 
                  </div>
                  <div id="input-cont">
                      
                      <input type="number" id="input-année" name="input-année" placeholder="Veuillez saisir l'année..">
                      <button id="bouton-année" onclick="getPersons_par_année ()">
                          Recherche
                      </button>
                  </div>
              </div>
          </div>
          <div class="card" id="card5">	
              <div class="card-header">
                  <p>line Chart : variation d'etudiants par leur sexe en cette année.</p>
              </div>
              <div class="card-content">	
                  <canvas id="line-chart" height="220" width="350"></canvas>
              </div>	
          </div>
          <div class="card" id="card6">	
              <div class="card-header">
                  <p>Graphes circulaires : Quelques chiffres concernant cette année</p>
              </div>
              <div id="pies">
                  <div class="card-content5">
                      <canvas id="pie-chart2" width="180" height="130"></canvas>
                  </div>	
                  <div class="card-content5">
                      <canvas id="pie-chart" width="180" height="130"></canvas>
                  </div>	
                  
                  <div class="card-content5">
                      <canvas id="pie-chart3" width="180" height="130"></canvas>
                  </div>	
              </div>
              
          </div>
          <div class="card" id="card7">	
              <div class="card-header">
                  <p>Bar Chart : la moyenne generale des specialités en cette année.</p>
              </div>
              <div class="card-content">	
                  <canvas id="bar-chart" height="220" width="350"></canvas>
              </div>	
          </div>
          
          <div class="card" id="card8">	
              <div id="zone-recherche">
                  <div id="text-cont">
                      <p>Podium année : <span id="text-anne"></span></p>
                      </div>
                  <div id="input-cont">
                      <button id="bouton-spec" onclick="getPersons_par_année_et_specialité ()">
                          Afficher
                      </button>
                  </div>
              </div>
              <table id="podium">
                  <tr>
                      <th id="col-année">Année</th>
                      <th id="col-spec">Nom et Prénom</th>
                      <th id="col-moy">Moyenne</th>
                  </tr>
                  

              </table>

          </div>

        </main>
        <footer class="footer"></footer>
      </div>
      
</body>
</html>